[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.115.5"
uvicorn = "==0.32.0"
SQLAlchemy = "==2.0.36"
psycopg2-binary = "==2.9.10"
websockets = "==14.1"
configloader = "==1.0.1"
PyYAML = "==6.0.2"
attrdict = "==2.0.1"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.6"